<form>
    <div class="form-group">
        <label for='firstname'>First Name</label>
        <input type=text id='firstname' name='firstname' class='form-control'>
    </div>
    <div class="form-group">
        <label for='surname'>Surname</label>
        <input type=text id='surname' name='surname' class='form-control'>
    </div>
    <button type=submit class="btn btn-primary">Add Person</button>

    </div>
</form>
